input {
    margin: auto;
}

#id_rez, #waga, #imie, #nazwisko, #pesel, #obywatelstwo, #id_pasazer, #id_lot, #miejsce, #bagaz, #pasazer, #zaloga {
    background-color: rgb(177, 204, 219);
}

label{
    margin: 10px auto 0 10px;
}

button {
    position: relative;
    outline: none;
    text-decoration: none;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    height: 40px;
    width: 300px;
    opacity: 1;
    background-color: #ffffff;
    border: 1px solid rgba(22, 76, 167, 0.6);
    margin: 20px auto 10px auto;
  }
  
  .label{
      display: inline-block;
      padding: 0 10px 0 10px;
      object-fit: contain;
  }

  .miejsce {
      font-weight: bold;
      display: inline-block;
  }

  .label1 {
    float:left;
    width:50%;
  }
  .label2 {
    width: 100%;
  }

  .rezerwacja{
      margin-left: 520px;
  }
  
  #pracownicy-lista{
      height: 60px;
  }