body {
  margin: 0px;
  padding: 0px;
  text-align: center;
}


ul.nav {
  background-color: grey;
  background-size: 700px;
  padding: 0;

}

ul.nav li {
  list-style-type: none;
  margin: 0;

}

ul.nav li a { 
  text-align: center;
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 15px;
  display: inline-block;
}

.BottomMenu {
  border-radius:5px;
  position: relative;
  overflow: hidden;
  background-color: #FFF;
  align-items: center;
  margin-left: auto; 
  width: 890px; 
  margin-right: auto;
}

